@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('../fonts/PressStart2P-Regular.ttf') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------  global ------------------------- */

body {
    font-family: 'PressStart2P-Regular', sans-serif !important;
}


/* ---------------  Scrollbar ------------------------- */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #000000;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 10px;
}

/* --------------- item  ------------------------- */
.no-drag {
    pointer-events: auto;
    touch-action: manipulation;
}


.hidden_interactive_shapes {
    pointer-events: all;
    visibility: visible;
}